<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhby7TG7oXGNuL0kTz1z1QDzxCBnL5C8s</string>
	<key>GCM_SENDER_ID</key>
	<string>974963534306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipiapp</string>
	<key>PROJECT_ID</key>
	<string>flashchat-db52e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-db52e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974963534306:ios:b883104599c9f3b90471bb</string>
</dict>
</plist>